/Example/editorTest.xcodeproj/xcuserdata
/Example/editorTest.xcworkspace/xcuserdata
/Example/Pods/Pods.xcodeproj/xcuserdata
/Photo Editor/Photo Editor.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store